<a href="https://colab.research.google.com/github/ikeyada/Fast-Campus-LOP/blob/master/Week2_error_trigger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

from numpy import NaN, NAN, nan

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:


df = pd.read_csv('/content/drive/My Drive/Sample_6 Item.csv')
#info = pd.read_csv('/content/drive/My Drive/error_trigger.csv', encoding="euc-kr")
info = pd.read_csv('/content/drive/My Drive/error_trigger.csv')
info

   category   place
0        22  강원 춘천시
1        11  강원 춘천시
2        11  경기 광주시
3        33  경기 고양시
4        33  경남 김해시
5        33  서울 중랑구
6        33  강원 춘천시
7        44  경기 용인시
8        55  경기 용인시
9        66  경기 용인시

In [4]:
categorys = info['category']
places = info['place']

In [5]:
df['연도'] = df['월'].astype('str').str[:4].astype(int)
df['월'] = df['월'].astype('str').str[4:].astype(int)
df.head()

   월  항목           국가      지역   Value    연도
0  3  11  보스니아-헤르체고비나  충남 천안시  0.2110  2019
1  3  11           중국  경기 성남시  0.6500  2019
2  3  11           대만  서울 송파구  0.0003  2019
3  3  11         이탈리아  서울 노원구  0.2030  2019
4  3  11     도미니카 공화국  충남 천안시  0.1708  2019

In [6]:
df = df[['연도', '월', '항목', '국가', '지역', 'Value']]
df.head()

     연도  월  항목           국가      지역   Value
0  2019  3  11  보스니아-헤르체고비나  충남 천안시  0.2110
1  2019  3  11           중국  경기 성남시  0.6500
2  2019  3  11           대만  서울 송파구  0.0003
3  2019  3  11         이탈리아  서울 노원구  0.2030
4  2019  3  11     도미니카 공화국  충남 천안시  0.1708

In [16]:
#category = [11]
category = 11
#place = ['강원 춘천시']
place = '강원 춘천시'
month = 6
year = 2020

In [17]:
df['항목']

0       11
1       11
2       11
3       11
4       11
        ..
9680    66
9681    66
9682    66
9683    66
9684    66
Name: 항목, Length: 9685, dtype: int64

In [18]:
 condition_1 = (df['항목'] == category)
 condition_2 = (df['지역'] == place)
 condition_3 = (df['월'] == month)
 condition_4 = (df['월'] == month-1)
 condition_5 = (df['연도'] == year) & (df['월'] <= month)
 condition_6 = (df['연도'] == year-1) & (df['월'] <= month)

In [20]:
# df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year-1]
df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year]

3.2269

In [21]:
print (df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year-1] == NaN)

KeyError: ignored

In [23]:
print(pd.isnull(df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year-1]))

KeyError: ignored

## output

In [8]:

def sample_function(category, place, month, year):
    condition_1 = (df['항목'] == category)
    condition_2 = (df['지역'] == place)
    condition_3 = (df['월'] == month)
    condition_4 = (df['월'] == month-1)
    condition_5 = (df['연도'] == year) & (df['월'] <= month)
    condition_6 = (df['연도'] == year-1) & (df['월'] <= month)

    value_2019 = df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year-1]
    value_2020 = df.loc[condition_1 & condition_2 & condition_3].groupby('연도')['Value'].sum()[year]
    value_previous_month = df.loc[condition_1 & condition_2 & condition_4].groupby('연도')['Value'].sum()[year]

    YTD_2020 = df.loc[condition_1 & condition_2 & condition_5]['Value'].sum()
    YTD_2019 = df.loc[condition_1 & condition_2 & condition_6]['Value'].sum()


    if(value_2020 != np.NaN) and (value_2019 != np.NaN):
      전년동월비 = value_2020/value_2019 -1
    else:
      전년동월비= np.NaN

 
    if(value_2020 != np.NaN) and (value_previous_month != np.NaN):
      금년전월비 = value_2020/value_previous_month -1
    else:
      금년전월비= np.NaN

    if(YTD_2020 != np.NaN) and (YTD_2019 != np.NaN):
      전년누적비 = YTD_2020/YTD_2019  - 1   
    else:
      전년누적비= np.NaN
    

    ret = {
        '항목': category, 
        '지역': place, 
        '월': month, 
        '연도': year, 
        '당월' : value_2020,
        '전년동월' : value_2019, 
        'YoY'  : 전년동월비,
        '금년전월' : value_previous_month,
        'MoM' : 금년전월비,
        '2020_YTD': YTD_2020, 
        '2019_YTD': YTD_2019, 
        'YoY_c' : 전년누적비,
    }
    return ret

In [11]:
df

        연도  월  항목           국가      지역    Value
0     2019  3  11  보스니아-헤르체고비나  충남 천안시   0.2110
1     2019  3  11           중국  경기 성남시   0.6500
2     2019  3  11           대만  서울 송파구   0.0003
3     2019  3  11         이탈리아  서울 노원구   0.2030
4     2019  3  11     도미니카 공화국  충남 천안시   0.1708
...    ... ..  ..          ...     ...      ...
9680  2020  6  66           중국  경기 군포시   0.2855
9681  2020  6  66           미국  서울 노원구   0.1910
9682  2020  6  66           대만  충남 천안시   4.1990
9683  2020  6  66          필리핀  충남 아산시   0.6430
9684  2020  6  66           중국  서울 강남구  52.4448

[9685 rows x 6 columns]

In [ ]:
# 성공할때
#categorys = [22, 33,44,55,66]
#places = ['강원 춘천시', '강원 춘천시', '경기 용인시','경기 용인시','경기 용인시' ]

In [30]:
#실패할때
categorys = [11]
places = ['강원 춘천시']

In [31]:
for i in range(1):
    s = sample_function(category=categorys[i], place=places[i], month=6, year=2020)
    print(s)

KeyError: ignored

**다른 OUTPUT Format 만들기**

In [9]:
df

        연도  월  항목           국가      지역    Value
0     2019  3  11  보스니아-헤르체고비나  충남 천안시   0.2110
1     2019  3  11           중국  경기 성남시   0.6500
2     2019  3  11           대만  서울 송파구   0.0003
3     2019  3  11         이탈리아  서울 노원구   0.2030
4     2019  3  11     도미니카 공화국  충남 천안시   0.1708
...    ... ..  ..          ...     ...      ...
9680  2020  6  66           중국  경기 군포시   0.2855
9681  2020  6  66           미국  서울 노원구   0.1910
9682  2020  6  66           대만  충남 천안시   4.1990
9683  2020  6  66          필리핀  충남 아산시   0.6430
9684  2020  6  66           중국  서울 강남구  52.4448

[9685 rows x 6 columns]

In [36]:
df_춘천=df[df['지역'].isin(['강원 춘천시'])]
df_춘천

        연도   월  항목         국가      지역   Value
323   2019   5  11         미국  강원 춘천시  0.7917
463   2019   7  11         미국  강원 춘천시  0.8603
817   2019  10  11         미국  강원 춘천시  1.6459
991   2020   1  11         미국  강원 춘천시  0.8549
1109  2020   2  11         미국  강원 춘천시  0.5765
...    ...  ..  ..        ...     ...     ...
5430  2020   6  33        몰디브  강원 춘천시  0.3182
5431  2020   6  33  아랍에미리트 연합  강원 춘천시  0.0003
5432  2020   6  33         인도  강원 춘천시  1.3429
5437  2020   6  33         말리  강원 춘천시  0.1306
5440  2020   6  33        바레인  강원 춘천시  0.0167

[1487 rows x 6 columns]

In [37]:
import numpy as np

In [38]:
pd.pivot_table(df_춘천, index=['연도','월'], columns='항목', values='Value',aggfunc=np.sum)

항목           11        22       33
연도   월
2019 3      NaN  120.9270  20.6387
     4      NaN  101.7849  32.0403
     5   0.7917   76.3824  15.5819
     6      NaN   77.7413  27.1328
     7   0.8603  104.6244  27.9141
     8      NaN  100.6271  25.2906
     9      NaN  133.1412  35.6650
     10  1.6459  115.3905  18.2667
     11     NaN  114.6063  24.9063
     12     NaN   98.1311  33.3839
2020 1   0.8549  108.4716  19.7624
     2   0.5765   94.9432  36.3685
     3   1.1347   86.4262  19.3326
     4      NaN  142.4402  33.5486
     5      NaN  250.2586  62.4559
     6   3.2269  175.0254  48.1646

In [56]:
춘천_p = pd.pivot_table(df_춘천, index=['연도','월'], columns='항목', values='Value',aggfunc=np.sum).reset_index()

In [57]:
춘천_p.reset_index().iloc[:,2:].sum(axis=1)

0     144.5657
1     137.8252
2      97.7560
3     110.8741
4     140.3988
5     133.9177
6     177.8062
7     145.3031
8     150.5126
9     143.5150
10    130.0889
11    133.8882
12    109.8935
13    179.9888
14    317.7145
15    232.4169
dtype: float64

In [58]:
춘천_p['sum']=춘천_p.iloc[:,2:].sum(axis=1)

In [59]:
춘천_p

항목    연도   월      11        22       33       sum
0   2019   3     NaN  120.9270  20.6387  141.5657
1   2019   4     NaN  101.7849  32.0403  133.8252
2   2019   5  0.7917   76.3824  15.5819   92.7560
3   2019   6     NaN   77.7413  27.1328  104.8741
4   2019   7  0.8603  104.6244  27.9141  133.3988
5   2019   8     NaN  100.6271  25.2906  125.9177
6   2019   9     NaN  133.1412  35.6650  168.8062
7   2019  10  1.6459  115.3905  18.2667  135.3031
8   2019  11     NaN  114.6063  24.9063  139.5126
9   2019  12     NaN   98.1311  33.3839  131.5150
10  2020   1  0.8549  108.4716  19.7624  129.0889
11  2020   2  0.5765   94.9432  36.3685  131.8882
12  2020   3  1.1347   86.4262  19.3326  106.8935
13  2020   4     NaN  142.4402  33.5486  175.9888
14  2020   5     NaN  250.2586  62.4559  312.7145
15  2020   6  3.2269  175.0254  48.1646  226.4169

In [60]:
 춘천_p['sum'].pct_change(12)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12   -0.244919
13    0.315065
14    2.371367
15    1.158940
Name: sum, dtype: float64